<div class="employee-dashboard">
  <div class="sidebar">
    <div class="sidebar-content">
      <h2>Employee Dashboard</h2>
    </div>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>

  <div class="content">
    <h1>Employee Dashboard</h1>
    <div class="pay-info">
      <h2 id="animated-total-pay" class="animated-counter">{{ employeeTotalPay | currency }}</h2>

      <h3>Assigned Orders</h3>
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Product</th>
            <th>Unlabeled Quantity</th>
            <th>Labeled Quantity</th>
            <th>Add Labels</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.productName }}</td>
            <td>{{ order.unlabeledQuantity }}</td>
            <td>{{ order.labeledQuantity }}</td>
            <td>{{ order.orderStatusDescription }}</td>
            <td>
              <input type="number" [(ngModel)]="labelingQuantity[order.id]" placeholder="Enter quantity" />
              <button (click)="addLabels(order.id, labelingQuantity[order.id])">Add Labels</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Chart.js Graph Section -->
      <canvas id="payChart"></canvas>
    </div>
  </div>
</div>