<div class="driver-dashboard">
  <h1>Driver Dashboard</h1>

  <h2>Assigned Orders</h2>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of assignedOrders">
        <td>{{ order.id }}</td>
        <td>{{ order.productName }}</td>
        <td>{{ getOrderStatusLabel(order.orderStatus) }}</td>
        <td>
          <button  *ngIf="order.orderStatus === 3"
            (click)="simulateShipping(order.id)">
            Simulate Shipping
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Transfer Product Between Warehouses</h2>
  <div class="transfer-form">
    <label for="productId">Product ID:</label>
    <input type="number" [(ngModel)]="transferData.productId" placeholder="Enter Product ID" />

    <label for="sourceWarehouseId">Source Warehouse ID:</label>
    <input type="number" [(ngModel)]="transferData.sourceWarehouseId" placeholder="Enter Source Warehouse ID" />

    <label for="destinationWarehouseId">Destination Warehouse ID:</label>
    <input type="number" [(ngModel)]="transferData.destinationWarehouseId"
      placeholder="Enter Destination Warehouse ID" />

    <button (click)="transferProduct()">Transfer Product</button>
  </div>
  <button (click)="logout()">Logout</button>
</div>